
<section class="bg-form">
	<div id="wrap" class="wrap">
	<div class="wrap-inner">

	<!--Login Section-->
	<div class="section" id="section1">
	  <div class="form form--login">
	    <h1 class="alpha">Registrarse</h1>
	    <p>Si aún no tienes una cuenta, regístrate aquí.</p>
	    <div>
	      <form class="form-wrap">
	        <input id="" class="inputbox email" type="text" placeholder="Correo electrónico" />
	        <input id="" class="inputbox password" type="password" placeholder="Contraseña" />
	        <p><a href="#" class="button">Registrarse</a></p>
	      </form>
	    </div>
	    <hr />
	    <p>O</p>
	    <div class="social">
	      <a href="#" class="facebook">Regístrate con Facebook</a>
	    </div>
	  </div>
	</div>
	<!--END: Login Section-->

	</div>
</div>
</section>
